{% extends "base.html" %}

{% block app_content %}
    <h1>About Hostel Price Explorer</h1>
    <br>
    <img src="/static/komang-gita-krishna-murti-7Xh-2bHztyc-unsplash.jpg" style="width:30%"/>
    <figcaption style="font-size:10px">Photo by Komang Gita Krishna Murti on Unsplash</figcaption>
    <br><br>
    <div style="width: 600px;margin: auto">
        <h4>This site was created for travelers to explore the prices of hostels around the world.</h4>
        <br>
        <h4>Adventurous travelers can generate a random destination and see hostel prices in that location.</h4>
        <br>
        <h4>For travelers who already have a particular destination in mind, the Destinations page allows users to select from a list of popular destinations.</h4>
        <br><br>
    </div>
    <h5>This site obtains its data from the <a href="https://www.hostelworld.com">Hostelworld</a> website.</h5>
    <br>
{% endblock %}
