{% extends 'bootstrap/base.html' %}

{% block title %}
    <title>Hostel Price Explorer</title>
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('index') }}">Hostel Price Explorer</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('destinations') }}">Destinations</a></li>
                <li><a href="{{ url_for('about') }}">About</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}






