{% extends "base.html" %}

{% block app_content %}
    <style type="text/css">
    .table {
        margin: 0 auto;
        width: 60%;
    }
    </style>
    <h1>{{ city }}, {{ country }}</h1>
    <br>
    <h3>The average hostel price in {{ city }} is ${{ avg_price }} per night.</h3>
    <br>
    <h4>Here are some of the top hostels in {{ city }}:</h4>
    <br>
    <table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="text-center">Hostel Name</th>
            <th class="text-center">Price</th>
        </tr>
    </thead>
    <tbody>
        {% for hostel in hostels %}
        <tr>
        <td>{{ hostel[0] }}</td>
        <td>${{ hostel[1] }}</td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
    <p><i>Please note that these prices may be off by up to $1 due to Hostelworld's currency conversion rate.</i></p>
    <br>
    <h4>Click <a href="{{ url }}">here</a> to see all of the hostels in {{city}} on <a href="https://www.hostelworld.com">Hostelworld.com.</a></h4>
    <br>
    <h4>Choose another destination:</h4>
    <a href="{{ url_for('destinations') }}" class="btn btn-primary" role="button">Choose Destination</a>
    <br><br>
    <h4>Generate a random destination:</h4>
    <a href="{{ url_for('random') }}" class="btn btn-info" role="button">Random Destination</a>
    <br><br><br>
{% endblock %}