{% extends "base.html" %}

{% block app_content %}
    <h1>Welcome to the Hostel Price Explorer!</h1>
    <br>
    <img src="/static/marcus-loke-WQJvWU_HZFo-unsplash.jpg" style="width:40%"/>
    <figcaption style="font-size:10px">Photo by Marcus Loke on Unsplash</figcaption>
    <br><br>
    <div style="width: 500px;margin: auto">
        <h2>Ready for your next travel adventure?</h2>
        <h3>Not sure where to go?</h3>
        <br>
        <h4>Use the button below to see hostel prices for a random travel destination!</h4>
        <br>
        <a href="{{ url_for('random') }}" class="btn btn-info" role="button">Random Destination</a>
        <br><br>
        <h4>If you would rather see hostel prices at a destination of your choice, use the button below:</h4>
        <br>
        <a href="{{ url_for('destinations') }}" class="btn btn-primary" role="button">Choose Destination</a>
        <br><br><br><br>
        <p>For more information, see the <a href="{{ url_for('about') }}">about</a> page.</p>
        <br><br>
    </div>
{% endblock %}
